body{
  background-color: coral;
  display: flex ;
  
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

#text{

margin-top: 300px;
  margin-bottom: 200px;
}

